<h2>Snapshot current Heroku schedules</h2>

<%= form_for @changeset, heroku_schedule_path(@conn, :snapshot), fn f -> %>
  <div class="form-group">
    <%= label f, :application, class: "control-label" %>
    <%= select f, :application, @applications, class: "form-control",
        prompt: "Choose an application" %>
  </div>
  <div class="form-group">
    <%= submit "Snapshot" %>
  </div>
<% end %>

<%= link "Schedules", to: heroku_schedule_path(@conn, :index) %>
