<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dynomizer automatically scales Heroku Dynos via HireFire">
    <meta name="author" content="Chloe + Isabel">

    <title>Dynomizer</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script href="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="https://github.com/chloeandisabel/dynomizer">README</a></li>
            <li><%= link "Home", to: page_path(@conn, :index) %></li>
          </ul>
        </nav>
        <span class="logo">
          <h1><%= link "Dynomizer", to: page_path(@conn, :index), class: "appname" %></h1>
          <p class="lead">Scheduled scaling of Heroku Dynos via
          Heroku or HireFire</p>
          <img src="images/heroku-features-scaling-dynos.png"/>
        </span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
