<h2>New HireFire schedule</h2>

<%= render "form.html", changeset: @changeset,
                        action: hirefire_schedule_path(@conn, :create),
                        form_fields: @form_fields %>

<%= link "HireFire Schedules", to: hirefire_schedule_path(@conn, :index) %>
